@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* swiper */
#imgCarousel .swiper-button-next::after,
#imgCarousel .swiper-button-prev::after {
  color: #fff;
  font-size: 38px;
}

.thumbs .swiper-button-next::after,
.thumbs .swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

#baple .swiper-button-prev {
  background: url(/images/icons/button/prev.svg) no-repeat;
  background-size: 100% auto;
  background-position: center;
}

#baple .swiper-button-next {
  background: url(/images/icons/button/next.svg) no-repeat;
  background-size: 100% auto;
  background-position: center;
}

#baple .swiper-button-next::after,
#baple .swiper-button-prev::after {
  display: none;
}

#color_blind .swiper-button-next::after,
#color_blind .swiper-button-prev::after {
  color: #66b6ff;
}

/* .swiper-scrollbar {
  background: #fff !important;
  rgba(0, 0, 0, 0.5)
} */

.swiper-scrollbar-drag {
  background: #fff !important;
}

/* .swiper-scrollbar-drag {
  color: #fff;
} */

.ql-editor {
  min-height: 300px;
}
.ql-container.ql-snow.ql-disabled {
  border: none;
}

body {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
